.main-sider{
    height: 100%;
    border-top: 1px solid rgb(12,32,65);
    background-color: rgb(23,43,76);
}
.menu {
    background-color: inherit;
}
.menuScroll {
    overflow-y:scroll;
    overflow-x: hidden;
    height: calc(100vh - 105px);
}
.menuScroll a{
    color:#fff !important;
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
     border:none; 
}
.ant-menu-submenu-arrow::after{
    background-color:rgb(234, 250, 10) !important;
}
.ant-menu-submenu-arrow::before{
    background-color:rgb(234, 250, 10) !important;
}
.menu span{
    color: #fff;
}
.main-sider .menuScroll .ant-menu {
    background-color: rgb(23,43,76) ;
}
.main-sider .menuScroll .ant-menu-item {
    background-color: rgb(23,43,76) ;
    color: #fff;
}
.ant-menu-item-selected{
    background-color: inherit !important;
}
.main-sider .menuScroll .ant-menu-item-active {
    background-color: rgb(47,65,94);
}
.main-sider .menuScroll .ant-menu-submenu-active{
    background-color: rgb(47,65,94);
    
}
.anticon {
    color:rgb(255,142,0);
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 10px;    
    background-color: rgb(23,43,76);  
}  

/* 定义滚动条轨道 内阴影+圆角  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: lightgray;  
}   */

/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: lightgray;  
}  
/*定义最上方和最下方的按钮*/
::-webkit-scrollbar-button{
     display: none;
}
