* {
    padding: 0;
    margin: 0;
}
.Main{
    width: 100%; 
    height: 100vh;
    overflow: hidden;
    position:relative;
}
.main-content{
    width: 100%;
    height: calc(100vh - 57px);
    display: flex;
    overflow: hidden;
}
.login{
    width: 350px;
    margin:35vh auto;
    padding:25px;
    border:1px solid silver;
}
.login .login-form-button{
    width:100%;
}